/*nav*/
a{
    color: #111;
}

ul { max-width: 100%; 
    list-style-type: none;
     margin: 0; 
     padding: 0; 
     overflow: hidden;
      background-color: #cecece;
    }

 li { 
        float: left;
     }

li a {
    display: block;
     color: #333; 
     text-align: center; 
     padding: 14px 16px; 
     text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #048caa;
}

.active { 
    background-color: #048caa;
 }

 .topimage {
    width: 5%;
     height: auto;
     align-self: flex-start;
     }

.navsection {
    display: auto;
     align-items: center;
     gap: 10px;
     padding-bottom: 10px;
    }
/*end nav*/