/*nav*/
a{
    color: #111;
}

ul { max-width: 100%; 
    list-style-type: none;
     margin: 0; 
     padding: 0; 
     overflow: hidden;
      background-color: #cecece;
    }

 li { 
        float: left;
     }

li a {
    display: block;
     color: #333; 
     text-align: center; 
     padding: 14px 16px; 
     text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active { 
    background-color: #048caa;
 }
/*end nav*/

/*body*/

 body { 
    background: rgb(197, 190, 190); 
    color: #111; 
    padding: 4em; 
    font-family: sans-serif; line-height: 1.15;
 }

 /*end body*/