/*nav*/
a{
    color: #111;
}

ul { max-width: 100%; 
    list-style-type: none;
     margin: 0; 
     padding: 0; 
     overflow: hidden;
      background-color: #cecece;
    }

 li { 
        float: left;
     }

li a {
    display: block;
     color: #333; 
     text-align: center; 
     padding: 14px 16px; 
     text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #048caa;
}

.active { 
    background-color: #048caa;
 }

 .topimage {
    width: 5%;
     height: auto;
     align-self: flex-start;
     }

.navsection {
    display: auto;
     align-items: center;
     gap: 10px;
     padding-bottom: 10px;
    }
/*end nav*/

/*background*/

 body { 
    background: rgb(197, 190, 190); 
    color: #111; 
    padding: 4em; 
    font-family: sans-serif; line-height: 1.15;
 }

 /*end background*/

 /*news section*/

 .daywimage { 
    display: flex;
     margin-left:45%;
     width: 300px; height: 300px;
     }


 hr { 
    height: 6px; 
    border: none; 
} 

.page { 
    padding: 2em;
     background: #cecece; 
     max-width: 100%;
     }

.archive { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
     grid-gap: 1em; 
     grid-auto-flow: dense;
     }

.article { 
    text-align: center; 
    padding: 1em;
     background: rgba(200, 200, 255, 0.3);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
     }

.article img { 
    max-width: 100%; 
}

.five-day { 
    text-align: center;
     padding: 1em; 
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05); 
     grid-column: 1 / 5;
      background: rgba(200, 200, 255, 0.3); 
    }

.day { 
    color: #111;
     max-width: 100px;
      height: 125px; 
      background-color: #048caa; 
    }

.article:nth-child(1) { 
    grid-column: 1 / -1; 
    background: rgba(200, 200, 255, 0.3); 
}

.article:nth-child(8) {
     grid-column: -3 / -1; 
     background: rgba(255, 200, 255, 0.3); 
    }

.article:nth-child(8):after { 
    content: "grid-column: -3 / -1";
 }

@media (max-width: 680px) { 
    .archive { display: flex; flex-direction: column; 
    } 
    .article { margin-bottom: 1em; } 
}

/*end news section*/

/*weather section*/

.article-five-day { 
    grid-column: 1 / -1; 
    padding: 15px; margin-top: 15px;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
    background-color: rgba(200, 200, 255, 0.3); 
     text-align: center;
    } 

.five-article { 
    text-align: center; 
}

#city {
     text-align: center; 
    }

#forecastTitle { 
    text-align: center;
 }

.flex {
     display: flex;
      justify-content: center;
     }

.flex-col {
     text-align: center; 
     margin-right: 50px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    } 

#stats {
     text-align: start; 
     float: left; 
    }

.temp-data {
     margin-left: 0px; 
     display: flex; 
    }

.weatherIcon { 
    display: block;
     margin-left: 0px; 
     width: 30px; height: 30px;
     }

footer { 
    text-align: center; 
}

#dayTitle1 {
     font-weight: bold; 
     margin-bottom: 10px; 
    }

#dayTitle2 {
     font-weight: bold; 
     margin-bottom: 10px; 
    }

#dayTitle3 {
     font-weight: bold; 
     margin-bottom: 10px; 
    }

#dayTitle4 {
     font-weight: bold; 
     margin-bottom: 10px; 
    }

#dayTitle5 {
     font-weight: bold; 
     margin-bottom: 10px; 
    }

.temp-data {
     font-weight: bold;  
     margin-top: 20px;
    }


/*end weather section*/

/*news add*/
.newsIcon { 
    display: block;
     margin-left: 0px; 
     width: 200px; height: 200px;
     }